// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Bitter);

$progress-green: #5cb85c;
$success-mark-color: #5cb85c;
$error-mark-color: #ec686e;
$light-gray: #fdfdfd;
$light-blue-link-text: #428bca;

$drop-area-border-size: 3px;
$drop-area-height: 350px;

@mixin module_defaults() {
    border: solid #A1A1A1 1px;
    border-radius: 8px;
}

// Start show.html.erb styles

#place-title {
  font-family: Bitter, Arial, serif;
  font-size: 3.5em;
  margin-bottom: 5px;
  text-align: left;
  float: left;
}

#place-price {
  font-family: Bitter, Arial, serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}

#place-header-location {
  margin-bottom: 0px;
  font-weight: 400;
  color: $light-blue-link-text 
}

#place-description {
}

#place-tab-bar {
  margin-bottom: 15px;
}

#place-info-box {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  background-color: $light-gray;
  padding: 15px;
}

td.value {
  border-left: 0;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word;
}

#main-place-info-container {
  
}

// End show.html.erb styles

.clear-both {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

#place_looking_for {
    width: 14%;
}

#price-input-field-parent {
    margin-bottom: 0px !important;
}

#price-input-field-parent .field_with_errors {
    display: inline;
}

#place_price {
    display: inline-block;
    width: 30%;
    margin-left: 8px;
}

#price-label {
    margin-right: 20px;
    display: inline-block;
}

#address-inputs label {
    display: block;
}

#address-inputs input {
    display: inline-block;
}

#address-inputs #street_number {
    float: left;
    width: 18%;
}

#address-inputs #route {
    float: right;
    width: 78%;
}

#address-inputs #locality {
    float: left;
    width: 78%;
}

#address-inputs #administrative_area_level_1 {
    float: right;
    width: 18%;
}

.characters_remaining_container {
    margin-top: -10px;
    text-align: right;
    font-size: 12px;
    color: grey;
}

#listings-parent > .row {
    margin-bottom: 30px;
    padding: 10px 0px;
    @include module_defaults();
}

// #listings-parent > .row > div:not(:last-child) {
//     border-right: 1px solid #BBB;
// }

#listings-parent > .row > div {
    height: 60px;
    margin: 5px 0px;
}

.image {
    overflow: hidden;
}

.image > img {
    width: 50%;
}

.title_description {
    overflow: hidden;
}

.title_description > .title {
    font-weight: bold;
    font-size: 16px;
}

.price {
    font-weight: bold;
    text-align: center;
}

// Form styles

.submit {
    margin-top: 1em;
}

#add-pictures-title {
    margin-bottom: 20px;
}
